@import url('http://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    font-size: 28px;
    min-width:500px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;
    width:500px;
    background: rgba(4, 57, 94, 1);
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(4, 57, 94, 1)), url("../images/ste.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    grid-column-gap: 10em;
    grid-row-gap: 1em;
    grid-auto-rows: 600px;
    justify-content: center;
}

.wrapper{
    background:  rgba(4, 57, 94,0.9);
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
    box-shadow:0px 6px 5px rgba(0,0,0,0.9);
    color: white;
}

.wrapper .bck{
    height: 20%;
}

.back{
    width: 70px;
    height: 70px;
    background-image: url("../images/home.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.wrapper .forma{
    position: relative;
    height: 65%;
    z-index: 1;
}

input[type=text], select{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 95%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.gameinf {
    background:  rgba(4, 57, 94,0.9);
    border-radius: 40px;
    overflow: hidden;
    box-shadow:0px 6px 5px rgba(0,0,0,0.9);
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    z-index: -10;
}

@keyframes example {
    from{}
    0%   { right:83%;}
    100% { right:0px;}
}
.gameinf .pic{
    position: relative;
    width: 100%;
    height: 35%;
}
.gameinf .desc{
    position: relative;
    width: 100%;
    height: 20%;
}

.gameinf .desc h4{
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: white;
}

.gameinf .searchBox{
    position: relative;
    width: 100%;
    height: 45%;
}

.gameinf .pic img{
    position: relative;
    width: 100%;
}

#searchedGameName{
    top: 30px;
}

.gameinf #sbtn {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 40px;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #04AA6D;
    color: white;
}

.gameinf #sbtn:hover {
    background-color: #45a049;
}

.wrapper .newgame{
    position: relative;
    width: 100%;
    height: 15%;
    color: white;
}

.newgame h5{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba(255,255,255,0.8);
}

.newgame h5:hover{
    color: black;
    cursor: pointer;
}


.hide {
    display: none;
}

.animation{
    position: relative;
    animation-name: other;
    animation-duration: 2s;
}

@keyframes other {
    0%   { left:83%; top:0px;}
    100% { left:0px; top:0px;}
}






/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #24243e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #080824;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}