@import url('http://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh; 
   min-width:450px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:450px;    
   background: #0f0c29;
   background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}


.login{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#219ebc,#023047);
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);
    color: white;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container .card
{
    position: relative;
    width: 70%;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg,#219ebc,#023047);
    border-radius: 15px;
    box-shadow: 2px 5px 10px;
}
.container .card .cover
{
    position: relative;
    width: 35%;
    height: 180px;
    top: 0;
    /*background-color: green;*/

}

.container .card .cover img
{
position: absolute;
transform: translateY(-50%) translateX(-50%);
left: 50%;
top: 50%;
width: 95%;
height: auto;
max-width: 450px;
border-radius: 15px;
box-shadow: 2px 5px 10px rgb(0, 0, 0);
}


.container .card .site_icon
{
    position: relative;
    width: 10%;
    height: 100%;
    top: 0;
    /*background-color: magenta;*/

}

.container .card .site_icon img
{
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    top: 50%;
    width: 60%;
    height: auto;
}

.container .card .content
{
    position: relative;
    height:100%;
   /* background-color: red;*/
    width: 30%;
}

.container .card .content h2{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #000000;
    text-transform: uppercase;
    font-size: 2vw;
    line-height: 1em;
    /*background-color: blue;*/
}


.container .card .other 
{
    position: relative;
    height:100%;
    /*background-color: yellow;*/
    width: 25%;
}

.container .card .other h2{

    font-size: 2vw;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    color: #e8eddf;
}

@media (min-width: 2560px){
    
    .container .card .cover
    {
        width: 20%;
    }
    .container .card .content
    {
        width: 40%;
    }

  }


@media (min-width: 3700px){
    
    .container .card .cover
    {
        width: 20%;
    }
    .container .card .content
    {
        width: 50%;
    }
  }


@media (max-width: 700px) {
    
    .container{
        padding-bottom: 5%;
    }
    
    
    .container .card {
      flex-direction: column;
      background: linear-gradient(#219ebc,#023047);
      width: 100%;
      height: 750px;
    }


    .container .card .cover
    {
        width: 100%;
    }

    .container .card .content {
        width: 100%;
        text-align: center;
    }
    .container .card .content h2{
        font-size: 8vw;
    }


    .container .card .site_icon
    {
        width: 100%;
    }
    .container .card .site_icon img    
    {
        max-width: 75px;
    }

    .container .card .other {
        width: 100%;
    }
    .container .card .other h2 {
        font-size: 6vw;
        
    }

  }
  /*#0a131a,#7094ce*/

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #24243e; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0f0c29; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  