<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Új játék</title>
  <link rel="stylesheet" th:href="@{css/style1.css}" href="../static/css/style1.css">
</head>
<body>
<div class="topnav">
  <div class="topnav-centered">
    <a href="/" class="active">
      <img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="gamepiscture">
    </a>
    <h1 style="text-align: center ;color: aliceblue">Megtörtént</h1>
  </div>
</div>


</body>
</html>