<!DOCTYPE html>
<html lang="hu"xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pagetitle}">Games</title>
    <link rel="stylesheet" th:href="@{css/style1.css}" href="../static/css/style1.css">
</head>
<body>
    <div class="topnav">
        <div class="topnav-centered">
            <a href="/" class="active">
                <img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="gamepiscture">
            </a>
        </div>
        <div class="statistic">
            <table>
                <tr>
                    <th>Hirdetesek szama:</th>
                    <th th:text="${gameads.size()}">100</th>
                </tr>
            </table>
        </div>
    </div>

  <div class="container" th:each="ad : ${gameads}">
      <div class="card">
        <div class="cover">
            <a th:href="${ad.getGame().getUrl()}" href="https://www.youtube.com/watch?v=MnMxRkX7DvU">
                <img th:src="${ad.getGame().getPictureUrl()}" src="https://cdn.akamai.steamstatic.com/steam/apps/646910/header.jpg?t=1602605338">
            </a>
        </div>
        <div class="site_icon">
            <img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016">
        </div>
        <div class="content">
              <h2 th:text="${ad.getGame().getGameName()}">Game Name</h2>
        </div>
        <div class="other">
            <h2 th:text="${ad.getPriceWithCurrency('USD')}">JATEK ÁRA</h2>
      </div>
      </div>
  </div>


</body>
</html>