<!DOCTYPE html>
<html lang="hu"xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${game.getGameName()}">Title</title>
    <link rel="stylesheet" th:href="@{css/listOfAdsStyle.css}" href="../static/css/listOfAdsStyle.css">
</head>
<body>
<div id="header">
    <div id="headbox" class="wrapperhead">
        <div id="gamepic" >
            <img id="image" src="https://cdn.cloudflare.steamstatic.com/steam/apps/979690/header.jpg?t=1627672662">
        </div>
        <div id="gameinfo" >
            <h2>A jatek neve</h2>
        </div>
    </div>
</div>
<div id="content">
    <div class="wrappercontent">
        <div class="Adblock">
        </div>
        <div class="Adblock">
        </div>
        <div class="Adblock">
        </div>
        <div class="Adblock">
        </div>
        <div class="Adblock">
        </div>
        <div class="Adblock">
        </div>
    </div>
</div>
</body>
</html>